.App {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.site-title {
	text-align: center;
}

.main {
	justify-content: space-around;
	display: flex;
	width: 100%;
}

.right-side {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	min-width: 70%;
}
