.info-sidebar {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-sidebar a {
	color: white;
	border: 2px solid white;
	padding: 5px;
	margin: 5px;
	text-decoration: none;
}

.info-sidebar a:hover {
	background-color: #ff998e;
}
